/* Font definitions */
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Heavy.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bugatti';
    src: url('../fonts/Bulgatti.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Engraved';
    src: url('../fonts/AcademyEngravedLetPlain.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}